html,body{
	height: 99%;
	width: 99%;
}
*{
	box-sizing: border-box;
}
.banner{
	background-color: rgb(255,250,250,0.4);
	margin: 15px;
	padding: 10px;
	border: 3px solid lightpink;
	box-shadow: 1px 3px 30px 1px pink;
	outline: 10px 10px lavender groove;
	text-transform: capitalize;
	text-shadow: 1px 1px lavender ;
	font-family: fantasy;
	height: 150px;
	text-align: right;
	font-style: oblique;
}
h1{
	font-size: 0.7em;
}

#logo{
	width: 75px;
	position: absolute;
	top: 60px;
	right: 275px;
}
.container{
	border:2px pink solid;
	position: relative;
	top: 2px;
	margin: 15px;
	padding: 10px;
	height: 700px;
	overflow: hidden;
	background-color: #563635 ;
} 
.wave{
	border: pink 1px solid;
	background-color: rgb(255,250,250,0.4);
	font-size: 0.9em;
	height: 25px;
	overflow: hidden;
	width: 80%;
	position:relative;
	left: 10%;
	transition: height 4s;
	display:block;
}
#l1{
	border:lightblue 1px solid;
	background-image:repeating-linear-gradient(hotpink, lightpink);
}
.wave:hover{
	height:90%;
	top:1px;
	z-index:1;
}
.menu{
	position: absolute;
	top: 50px;
	left: 70px;
	color:pink;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2em;
	text-shadow: 2px 2px lavender;
	font-style: oblique;
	width: 100px;
	overflow: hidden;
}
.menu a{
	color: pink;
	background-color: snow;
	text-shadow: 0px 0px ;
	font-size: 0.5em;
	padding: 1px;
	border: 1px solid pink;
	display: none;
}
.menu:hover a{
	display: block;
}
.menu a:hover{
	color: snow;
	background-color: pink;
}

#cfu1{
  border: 2px solid white;
  padding: 5px;
  overflow-y: scroll;
  display: block;
}
#cfu2{
  border: 2px solid white;
  padding: 5px;
  overflow-y: scroll;
  display: block;
}
#cfu3{
  border: 2px solid white;
  padding: 5px;
  overflow-y: scroll;
  display: block;
}
#cfu4{
  border: 2px solid #b3c2ff;
  padding: 5px;
  overflow-y: scroll;
  display: block;
}
#cfu5{
  border: 2px solid white;
  padding: 5px;
  display: block;
  overflow-y: scroll;
}
#cfu6{
  border: 2px solid white;
  padding: 5px;
  display: block;
  overflow-y: scroll;
}
#cfu7{
  border: 2px solid white;
  padding: 5px;
  display: block;
  overflow-y: scroll;
}
#cfu8{
  border: 2px solid white;
  padding: 5px;
  display: block;
  overflow-y: scroll;
}
#cfu9{
  border: 2px solid white;
  padding: 5px;
  display: block;
  overflow-y: scroll;
}
#cfu10{
  border: 2px solid white;
  padding: 5px;
  display: block;
  overflow-y: scroll;
}
#cfu11{
  border: 2px solid white;
  padding: 5px;
  display: block;
  overflow-y: scroll;
}
#cfu12-14{
  border: 2px solid white;
  padding: 5px;
  display: block;
  overflow-y: scroll;
}

#cfu1{
  border: 2px solid pink;
  padding: 5px;
  display: block;
  text-align: center;
}
#cfu2{
  border: 2px solid pink;
  padding: 5px;
  display: block;
    text-align: center;
}
#cfu3{
  border: 2px solid pink;
  padding: 5px;
  display: block;
    text-align: center;
}
#cfu4{
  border: 2px solid pink;
  padding: 5px;
  display: block;
    text-align: center;
}
#cfu5{
  border: 2px solid pink;
  padding: 5px;
  display: block;
    text-align: center;
}
#cfu6{
  border: 2px solid pink;
  padding: 5px;
  display: block;
    text-align: center;
}
#cfu7{
  border: 2px solid pink;
  padding: 5px;
  display: block;
    text-align: center;
}
#cfu8{
  border: 2px solid pink;
  padding: 5px;
  display: block;
    text-align: center;
}
#cfu9{
  border: 2px solid pink;
  padding: 5px;
  display: block;
    text-align: center;
}
#cfu10{
  border: 2px solid pink;
  padding: 5px;
  display: block;
    text-align: center;
}
#cfu11{
  border: 2px solid pink;
  padding: 5px;
  display: block;
    text-align: center;
}
